<%- include('./shared/header'); -%>
    <main class="flex-grow">

        <div class="container mx-auto text-center mt-10">
            <h1 class="text-4xl font-bold text-gray-800">Welcome to Sarahah App</h1>
            <p class="text-gray-300 hover:text-white">Messages</p>
            <p class="text-red-300 mt-4 text-5xl">Hello, this is your home page.</p>

            <div class="mb-5">
                <a href="/users/login" class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded">Login</a>
                <a href="/users/register" class="bg-green-500 hover:bg-green-600 text-white font-semibold py-2 px-4 rounded">Register</a>
            </div>

        </div>
    </main>
    <%- include('./shared/footer'); -%>