<%-include('./shared/header')%>
    <div class="bg-gray-50 m-16 flex-1 p-10">
        <div class="text-center border-rose-900">
            <p><%= session.userName %></p>
            <p class="text-red-400 m-3">Visit Profile</p>
            <a class="mt-3 text-white p-2 rounded-lg bg-sky-500 hover:bg-sky-700" 
                target="_blank" href="http://localhost:3000/messages/profile/<%= session.userId %>">
                Profile
            </a>
        </div>
    </div>
<%-include('./shared/footer')%>
